@font-face {
  font-family: "custom_dune";
  src: url("@/assets/fonts/Dune_Rise.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

.james {
  font-family: "custom_dune", sans-serif;
}